main {
    display: flex;
    flex-direction: column;
    margin: 3% 1.5%;
    gap: 20px;
}

.form-title {
    font-family: var(--font-big-shoulders);
    align-self: center;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 20px;
    background-color: white;
    gap: 20px;
    border-radius: 10px;
}

.form input {
    height: 40px;
    font-size: 20px;
    padding: 5px;
    font-family: var(--font-montserrat), sans-serif;
    font-weight: 500;
}

#submit-button {
    opacity: 0;
    transform: translateY(15px);
    font-family: var(--font-anton), sans-serif;
    line-height: 1;
    background-color: transparent;
    transition: background-color 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.form:hover #submit-button {
    opacity: 1;
    transform: translateY(0);
}

#submit-button:hover {
    background-color: var(--button-background-color-hover);
}

#submit-button:focus {
    background-color: var(--button-background-color-focus);
    transition-duration: 0.1s;
}