body {
    font-family: var(--font-big-shoulders), sans-serif;
    position: relative;
    height: 100vh;
}

.main-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    justify-self: center;
    text-align: center;
}

.title {
    font-size: 50px;
}

.text {
    font-size: 30px;
    font-weight: 600;
}

.desc {
    font-size: 18px;
}